<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Your Awesome Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="">
</head>
  <header id="header" class="">
      </header><!-- /header -->
  <body class="bg-light">

          <div id="carouselControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <a href='posts'><%= image_tag 'IMG_2554.jpg',:size =>'1000x400' %>
                  <p class="post-1">投稿一覧</p></a>
            </div>
            <div class="carousel-item">
              <a href='posts/new'><%= image_tag 'sks.jpg',:size =>'1000x400' %><p class="post-2">お店を投稿する</p></a>
            </div>
            <div class="carousel-item">　
             <%= image_tag 'IMG_2554.jpg',:size =>'1000x400' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

          <hr>

              <div class="container py-5 my-5">
                <div>
                  <h2 class="text-center py-3">知識</h2>
                </div>
              　<div class="row">
                <div class="col-md-4 col-12">
                  <a href='explain/index'><div class="img-fluid"><%= image_tag 'IMG_2231.jpg',:size =>'320x480' %></div>
                  <p class="vegan">ベジタリアンやビーガンの違いなど</p></a>
                </div>
                <div class="col-md-4 col-12">
                  <a href='explain/famous'><div class="img-fluid"><%= image_tag 'img_112.jpg',:size =>'320x480' %></div>
                  <p class="famous">ベジタリアンの有名人</p></a>
                </div>
                <div class="col-md-4 col-12">
                  <a href='explain/environment'><div class="img-fluid"><%= image_tag 'unnamed.jpg',:size =>'320x480' %></div>
                    <p class="environment">環境問題について</p></a>
                </div>
              </div>
              <footer class="footer">
  <div class="container">
    <p class="text-text-center py-3">veggie veggie</p>
  </div>
</footer>
            </div>
  </body>

</html>






