<%= attachment_image_tag @post, :shop_image, fallback: "no_image1.png" %>

<%= @post.user_id %>

<%= @post.shop_name %>

<%= @post.caption %>

<li>
<i class="fa fa-comment"></i>
<a href="#comments"><%= @post.post_comments.count %></a>
</li>
<div class="comment-list bt style-2" id="comments">
    <div class="float-wrapper">
        <h2 class="comment-count"><%= @post.post_comments.count %>件コメント</h2>
    </div>

    <ol>
    <% @post.post_comments.each do |post_comment| %>
        <li class="comment">
            <div class="comment-body bb">
                <div class="comment-avatar">
                    <div class="avatar">
                        <%= image_tag('sample-author1.jpg', style: "width: 60px; height: 60px;") %>
                    </div>
                </div>
                <div class="comment-text">
                    <div class="comment-author clearfix">
                        <a href="#" class="link-author"><%= post_comment.user.name %></a>
                        <span class="comment-meta">
                        <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
                        </span>
                    </div>
                    <div class="comment-entry"><%= post_comment.comment %></div>
                </div>
            </div>
        </li>
    <% end %>
</ol>

<%= form_for [@post, @post_comment] do |f| %>
    <div class="row">
        <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
        </div>
    </div>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>