<div class="container">
	<div class="row">
		<div class="mt-c40 mb-c50 mx-auto">
			<div class="col-xs-5 col-xs-offset-1">
				<%= attachment_image_tag @post, :shop_image,:size =>'320x400', fallback: "no_image1.png" %>
					<div class="col-xs-5">
						<%= @post.shop_name %>
					</div>
					<hr class="my-4">
					<div class="col-xs-5">
						<%= @post.caption %>
					</div>
				</div>
				<li>
				<i class="fa fa-comment"></i>
				<a href="#comments"><%= @post.post_comments.count %></a>
				</li>
				<div class="comment-list bt style-2" id="comments">
				    <div class="float-wrapper">
				        <h2 class="comment-count"><%= @post.post_comments.count %>件コメント</h2>
				    </div>

				    <ol>
				    <div class="col-xs-5">
				     <% @post.post_comments.each do |post_comment| %>
				        <li class="comment">
				                <div class="comment-text">
				                    <div class="comment-author clearfix">
				                        <a href="#" class="link-author"><%= post_comment.user.name %></a>
				                        <span class="comment-meta">
				                        <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
				                        </span>
				                    </div>
				                    <div class="comment-entry"><%= post_comment.comment %></div>
				                </div>
				            </div>
				    </div>
				        </div>
				        </li>
				        <hr class="my-4">
				        <% if @post.favorited_by?(current_user) %>
				<li>
				    <%= link_to post_favorites_path(@post), method: :delete do %>
				    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				    <%= @post.favorites.count %> いいね
				    <% end %>
				</li>
				<% else %>
				<li>
				    <%= link_to post_favorites_path(@post), method: :post do %>
				    <i class="fa fa-heart-o" aria-hidden="true"></i>
				    <%= @post.favorites.count %> いいね
				    <% end %>
				</li>
				<% end %>
				    <% end %>
				</li>
				</ol>

				<%= form_for [@post, @post_comment] do |f| %>
				    <div class="row">
				        <div class="col-sm-12">
				            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
				        </div>
				    </div>
				    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<h2>gmap</h2>
				<div id='map'></div>

				<style>
				#map{
				  height: 400px;
				  margin-left:auto;
				  margin-right:auto;
				  text-align:left;
				  width: 80%
				}
				</style>
		        <div class="map-container">
					<script>
					function initMap(){
					  let map = new google.maps.Map(document.getElementById('map'), {
					  center: {lat: -34.397, lng: 150.644},
					  zoom: 8
					  });
					}
					</script>
					<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>&callback=initMap" async defer></script>



